* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: auto;
    padding: 0;
    background-image: url('img/backg.png');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    overflow-x: hidden; 
}

main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    max-width: 100vw; 
    overflow: hidden; 
}

header img {
    height: 100%;
    margin-right: auto;
    padding-left: 20px;
    transition: 0.5s;
    align-self: center;
}

header {
    display: flex;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(5px); 
    -webkit-backdrop-filter: blur(5px);
    justify-content: end;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
    z-index: 10;
}

header .homie {
    height: 50%;
    width: auto;
    align-self: center;
    justify-self: center;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

header button {
    background-color: rgba(255, 255, 255, 0);
    height: 100%;
    width: 15%;
    border: 0;
    font-size: 20px;
    font-weight: 600;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    transition: 0.5s;
    max-width: 100vw;
}
main .uutama {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100vw; 
}
main .uutama .start{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 82%;
    align-items: center;
    justify-content: center;
}
main .uutama .start h1{
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
}

main .uutama .buttonbalik{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}





header button:hover{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2), 0 12px 24px rgba(0, 0, 0, 0.2); 
}
header button:active{
    transform: translateY(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}